
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.calculator {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #5bc0de, #3ac7a9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; 
    margin: 20px;
    flex: 1;
}

#num1, #num2 {
    width: 30%;
    font-size: 30px;
}

label, select, input[type="submit"] {
    font-size: 48px;
    margin: 20px;
}

h1, h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 8px;
    background-color: #333;
    color: #fff;
    width: 100%;
}

