<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="calculator">
            <h1>Calculator</h1>
            <form method="POST" onsubmit="event.preventDefault(); calculate();">
                <label for="num1">Number 1:</label>
                <input type="number" id="num1" required>
                <br>
                <label for="num2">Number 2:</label>
                <input type="number" id="num2" required>
                <br>
                <label for="operation">Operation:</label>
                <select id="operation" required>
                    <option value="add">Add</option>
                    <option value="subtract">Subtract</option>
                    <option value="multiply">Multiply</option>
                    <option value="divide">Divide</option>
                </select>
                <br>
                <input type="submit" value="Calculate">
            </form>
            <h2 id="result"></h2>
        </div>
        
        <footer class="footer">
            <p>&copy; 2023 Shreya's Calculator App. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
